<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/html-head::head('About')">
</head>
<body>
<div th:replace="include/header::header"></div>

<div class="container">
    <div class="row">
        <div class="column-md-12 page-header"><h1>Über das Newsboard</h1></div>
    </div>
    <div class="row">
        <div class="column-md-12">
            <p>Das FH Bielefeld KI-Newsboard entstand im Wintersemester 16/17
            im Rahmen des Moduls "Intelligente Systeme" im Masterstudiengang Informatik.</p>
            <p>Ursprüngliche Autoren: Felix Meyer, Lukas Taake</p>
            <hr />
        </div>
    </div>
</div>

<div th:replace="include/footer::footer"></div>
</body>
</html>
