<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/html-head::head('FH Bielefeld Newsboard')">
</head>
<body>
<div th:replace="include/header::header"></div>

<div class="container">
    <div class="row">
        <div class="column-md-12 page-header"><h1 th:text="${doc.title}"></h1></div>
    </div>
    <div class="row">
        <div class="column-md-12">
            <small><span th:text="${doc.author}">Wuppi Fluppi</span>
                <span th:if="${doc.creationTime}" th:text="${#dates.format(doc.creationTime, 'dd.MM.yyyy')}">12.12.2016</span></small>
            <p>
                <span th:each="sentence : ${doc.sentences}" th:text="${sentence.text}"></span>
            </p>
            <hr />
            <small>Eingelesen von <span th:text="${doc.module.id}"></span>, am <span th:text="${#dates.format(doc.crawlTime, 'dd.MM.yyyy')}"></span>
            auf <a th:text="${doc.source}" th:href="${doc.source}"></a></small>
        </div>
    </div>
</div>

<div th:replace="include/footer::footer"></div>
</body>
</html>
