<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/html-head::head('FH Bielefeld Newsboard')">
</head>
<body>
<div th:replace="include/header::header"></div>
<!--/*@thymesVar id="doc" type="de.fhbielefeld.newsboard.model.document.Document"*/-->
<!--/*@thymesVar id="average" type="de.fhbielefeld.newsboard.model.document.ClassificationValue"*/-->
<div class="container" th:with="meta = ${doc.metaData}">
    <div class="row">
        <div class="column-md-12 page-header">
            <h1 th:text="${meta.title}"></h1>
            Bewertung: <span th:text="${#numbers.formatDecimal(average.effectiveValue(),1,2)}">-0.42</span>
        </div>
    </div>
    <div class="row">
        <div class="column-md-12">
            <small><span th:text="${meta.author}">Wuppi Fluppi</span>
                <span th:if="${meta.creationTime}" th:text="${#dates.format(meta.creationTime, 'dd.MM.yyyy')}">12.12.2016</span></small>
            <p>
                <span th:each="sentence : ${doc.sentences}" th:text="${sentence.text} + ' '"></span>
            </p>
            <hr />
            <small>Eingelesen von <span th:text="${meta.module.raw()}"></span>, am <span th:text="${#dates.format(meta.crawlTime, 'dd.MM.yyyy')}"></span>
            auf <a th:text="${meta.source}" th:href="${meta.source}"></a></small>
        </div>
    </div>
</div>

<div th:replace="include/footer::footer"></div>
</body>
</html>
