<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/html-head::head('FH Bielefeld Newsboard')">
</head>
<body>
<div th:replace="include/header::header"></div>

<div class="container">
    <div class="row">
        <div class="column-md-12"><h1 th:text="${doc.title}"></h1></div>
    </div>
        <div class="column-md-12">
            <small th:text="${doc.author}">Wuppi Fluppi</small>
            <p>
                <span th:each="sentence : ${doc.sentences}" th:text="${sentence.text}"></span>
            </p>
            <hr />
        </div>
    </div>
</div>

<div th:replace="include/footer::footer"></div>
</body>
</html>
