<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/html-head::head('FH Bielefeld Newsboard')">
</head>
<body>
<div th:replace="include/header::header"></div>

<div class="container">
    <div class="row">
        <div class="column-md-12 page-header"><h1>Neueste Nachrichten</h1></div>
    </div>
    <div class="row" th:each="doc : ${documents}">
        <div class="column-md-12">
            <h2><span th:text="${#numbers.formatDecimal(doc.averageClassificationValue,1,2)}">-0.42</span>
                <a th:text="${doc.title}" th:href="@{/document/{docId}(docId=${doc.id})}">Hallo, Welt!</a>
            </h2>
            <p>
                <span th:each="sentence : ${doc.sentences}" th:text="${sentence.text} + ' '"></span>
            </p>
            <hr />
        </div>
    </div>
</div>

<div th:replace="include/footer::footer"></div>
</body>
</html>
